/* .schedule {
    top: 180px;
    width:250px; 
    right:10px; 
    bottom: 500px;
    border-style: solid;
    position:absolute;
}

.notices{
    top: 270px;
    width:250px; 
    right:10px; 
    bottom: 300px;
    border-style: solid;
    position:absolute;
} */
