.footer {
    background-color: black;
    color: white;
}

.social-container {
    /* background: #eee; */
    padding: 25px 50px;
}
a.social {
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
  }
  a.social:hover {
    transform: translateY(-2px);
  }  
  a.youtube {
    color: #eb3223;
  }
  
  a.facebook {
    color: #4968ad;
  }
  
  a.twitter {
    color: #49a1eb;
  }
  
  a.instagram {
<<<<<<< HEAD
    color: black;
  }

  .footer-copyright{
    align-content: center;
    display: inline-block;
=======
    color: rgb(215, 208, 218);
>>>>>>> e2bb5ea8ad9b285d4f192c870e1a6a602681f879
  }